*{
  padding: 0;
  margin: 0;
}
.navbar {
	background: rgba(27,27,27,0.7);
}

.navbar-default {
	background-color: transparent;
	color: #87CEFA;
}

.navbar-default.change-color {
  background-color: #5F9EA0;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(221,221,221,1);
  -moz-box-shadow: 0px 0px 4px 0px rgba(221,221,221,1);
  box-shadow: 0px 0px 4px 0px rgba(221,221,221,1);
}

.navbar-default .navbar-brand{
	color: black;
	font-style: oblique;
	font-family: serif, "Lucida Console";
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
	color: black;
	background-color: #87CEFA;
}

.navbar-default .navbar-nav > li > a {
	color: maroon;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: transparent;
	background: #87CEFA;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: white;
	background-color: #87CEFA;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color: transparent;
	color: rgba(0,0,0,0);
}
.dropdown {
	background-color: transparent;
}

.dropdown-toggle {
	background-color: rgba(0,0,0,0);
	color: transparent;
}

.dropdown-toggle:active, 
.open .dropdown-toggle {
	background:#87CEFA !important; color:#000 !important;
}

.dropdown-menu {
	background-color: rgba(0,0,0,0);
}

.slides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.slides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.slides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.slides img {
  background-repeat: no-repeat;
  display: block;
  height: 650px;
  width: 100%;
  border: 0;
  }



/*-- TOP DESTINATIONS --*/

.color1 {

	background-color: #008080;
	height: 15px;
	width: auto; 
}

.destinations {

	max-width:1200px;
	margin:0 auto;
	height: auto;
	padding-top: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
}

.destinations span {

	padding-left: 20px;
}

.destinations div h1 {

	font-size: 45px;
	font-family: serif, "century gothic";
	max-width: 600px;
	margin-top: 30px;
}

.destinations-pictures {
	
	max-width: 1100px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 130px auto ;
	margin-bottom: 40px;
	margin-top: 40px;

}

.destinations-pictures div {
	
	margin-bottom: 50px;
	position: relative;

}
.destinations-pictures div img {

	border-radius: 15px;

}

.image-description {
	
	text-align: center;
	font-family: "cooper";
	font-size: 35px;
	padding-top: 10px;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.5);
    color: #ffffff;
    visibility: hidden;
    opacity: 0;
    border-radius: 12px;
    transition: 0.4s;

}

.image-description span {

	
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 13px;
	display: inline-block;

}


.image-wrap:hover .image-description {

    visibility: visible;
    opacity: 1;
    transition: opacity 0.4s;
    cursor: pointer;

}

/*-- BOOK NOW --*/
.color2 {

	background-color: #B0E0E6;
	height: 15px;
	width: auto; 
}

.wrap {
	max-width:960px;
	min-width:280px;
	margin:auto;
	position:relative;
}
.wrap img {
	padding-top: 40px;
	padding-bottom: 40px;
	width:100%;
	height:450px;
}
.caption {
	position:absolute;
	top:5px;
	left:0;
	right:0;
	bottom:10px;
	overflow:auto;
}
.caption-inner {
	display:table;
	width:100%;
	height:100%;
}
.caption-content {
	display:table-cell;
	vertical-align:middle;
}
.caption-content p {
	color: #fff;
	font-style: oblique;
	font-size: 20;
	margin:0 50px;
	background:rgba(255,255,255,0.4);
	padding:10px;
}

.btn-info {
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	right: 50px;
} 

/*-- INSPIRATION --*/
.color3 {

	background-color: 	#AFEEEE;
	height: 15px;
	width: auto; 
}

.carousel-control.left{
	background: none;
}
.carousel-control.right{
	background: none;
}

#myCarousel {
	padding-top: 20px;
}

#myCarousel img {
	width: 100%;
	height: 450px;
}

#myCarousel h1 {
	text-align: center;
	font-size: 45px;
	font-family: serif, "century gothic";
	font-weight: bolder;
}

.carousel-control{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 15%;
	font-size: auto;
	color: #fff;
	text-align: center;
	opacity: 2;
	text-shadow: none;
}
.carousel-control:hover{
	color: #000;
}
.carousel-indicators{
	bottom: -5px;
}
.carousel-indicators li{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #000;
	background-color: rgba(0,0,0,0);
	border: 1px solid #16a085;
	border-radius: 50%;
}
.carousel-indicators .active{
	width: 12px;
	height: 12px;
	margin: 0;
	background-color: #16a085;
}
.carousel-caption{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
	background: rgba(0,0,0,0.4);
}

/*-- CONTACT US --*/
.contactUs-wrapper {

	background-color: #20B2AA;
	margin-top: 15px;
	padding-top: 30px;
	padding-bottom: 20px;

}
.contactUs {

	background-color: #20B2AA;
	margin-top: 20px;
	max-width: 1100px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.contactUs div input {

	max-width: 250px;
	height: 30px;
}

.contactUs div input {

	width: 360px;
	height: 56px;
	display: block;
	margin:20px;
	text-align: left;
}

.div h1 {

	font-size: 45px;
	font-family: "century gothic";
	text-align: center;
	color:white;
	margin-top: 10px;

}

.div div{

	width: 2px;
	background-color: #00FFFF;
	height: 170px;
	margin:auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.div input[type=submit] {

	height: 52px;
	width: 250px;
	text-align: center;
	border:3px solid lightblue;
	box-shadow: 0 0 1px grey;
	font-family: "century gothic";
	font-size: 24px;
	color:#2c2c2c;
	margin:auto;

}

.btn-default {

	background-color: lightblue;
	box-shadow: grey;
	border:3px solid black;
}

/* -- ABOUT US -- */

.container-fluid {
	padding-top: 10px;
}

.row {
	background-color: #7FFFD4;
}

.row h2{
	text-align: center;
}

.row ul li {
	text-align: center;
	list-style: disc;
	list-style-position: inside;
	display: block;
}

/*-- FOOTER --*/
footer {
	margin-top: 10px;
	height: 160px;
	text-align: center;
	background-color: #2F4F4F;
	color: #ffffff;
}
footer h2 {
	font-style: oblique;
	font-family: "gothic";
}

footer img {
	margin-top: 10px;
}


